---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { Image } from "astro:assets";

interface Props {
  showNav?: boolean;
  showFooter?: boolean;
  title: string;
  docTitle?: string;
  docDescription?: string;
  image?: string;
}

const { docTitle, docDescription, title, image, showNav, showFooter = true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={docTitle ?? SITE_TITLE} description={docDescription ?? SITE_DESCRIPTION} image={image} />
  </head>
  <Header />
  <body class="flex min-h-[100dvh] w-screen flex-col bg-white">
    <main class="mx-auto w-full grow py-20 lg:max-w-prose lg:px-0 lg:py-32"><slot /></main>
    <Footer />
  </body>
</html>